﻿<div class="col-md-3 mb-3">
    <div class="card custom-card">
        <img src="@car.ImageLink" class="card-img-top" alt="Capa">
        <div class="card-body">
            <p><strong>Veículo:</strong> @car.Name</p>
            <p><strong>Preço:</strong> R$ @decimalFormatter(@car.Price)</p>
            <p><strong>Categoria:</strong> @car.Category</p>
            <p><strong>Marca:</strong> @car.Brand</p>
            <div class="d-flex flex-row align-items-center gap-1">
                <a href="/editar/carro/@car.CarId" class="d-inline btn btn-primary">Editar</a>
                <button @onclick="ConfirmModal" class="d-inline btn btn-danger">Deletar</button>
            </div>
        </div>
    </div>
</div>


<ModalComponent Display="displayModal" OnCancel="CancelModal" OnDelete="DeleteCar">
    <strong>Confirma exclusão deste veículo : Id=@car.CarId ?</strong>
</ModalComponent>


@code {
    [Parameter]
    public required Car car { get; set; }

    private bool displayModal;

    private void ConfirmModal()
    {
        displayModal = true;
    }
    private void CancelModal()
    {
        displayModal = false;
    }
    private async Task DeleteCar()
    {
        await carRepository.deleteById(car.CarId);
        displayModal = false;
        navigation.NavigateTo("/carros");
    }

    private string decimalFormatter(decimal value)
    {
        return value.ToString("0.00");
    }

}
