﻿<div class="col-md-3 mb-3">
    <div class="card custom-card">
        <img src="@car.ImageLink" class="card-img-top custom-card-img" alt="Capa">
        <div class="card-body">
            <h5 class="card-title">Veículo: @car.Name</h5>
            <p class="card-text">Preço: @car.Price</p>
            <p class="cart-text">Categoria: @car.Category</p>
            <p class="card-text">Marca: @car.Brand</p>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <a href="/editar/carro/@car.CarId" class="btn btn-primary">Editar</a>
                <button @onclick="ConfirmModal" class="btn btn-danger">Deletar</button>
            </div>
        </div>
    </div>
</div>


<ModalComponent Display="displayModal" OnCancel="CancelModal" OnDelete="DeleteCar">
    <strong>Confirma exclusão deste veículo : Id=@car.CarId ?</strong>
</ModalComponent>


@code {
    [Parameter]
    public required Car car { get; set; }

    private bool displayModal;

    private void ConfirmModal()
    {
        displayModal = true;
    }
    private void CancelModal()
    {
        displayModal = false;
    }
    private async Task DeleteCar()
    {
        await carRepository.deleteById(car.CarId);
        displayModal = false;
        navigation.NavigateTo("/carros");
    }

}
